// チェックボックス
@include keyframes(checkbox-check){
  0%{
    width: 0;
    height: 0;
    border-color: #FFF;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .4em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{
    width: .4em;
    height: .7em;
    border-color: #FFF;
    transform: translate3d(0,-.7em,0) rotate(45deg);
  }
}