
// @include placeholder-color($clr-main);
@mixin placeholder($color) {
	&::-webkit-input-placeholder {
		color:$color;
	}
	&::-moz-placeholder {
		color:$color;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color:$color;
	}
}