#recruit .message-copy {
  max-width: 650px;
  margin: 0 auto;
}
#recruit .message {
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: lh(36);
  text-align: center;
}
#recruit .btn-3 {
  height: 150px;
}

#requirement .l-contents {
  background-color: red;
}
#requirement .list-ind {
  margin-bottom: 0;
}
#requirement .btn-3 {
  height: 150px;
}