#ceo{
    .read-area{
        padding-bottom: 110px;
        @include breakpoint(small){
           padding-bottom: 140px;
        }
        picture{
            padding: 0 3%;
        }
        .txtbox{
            bottom: -110px;
            @include breakpoint(small){
                bottom: -140px;
            }
            .skew-box{
                margin-left: 0;
                padding: 20px 3%;
                @include breakpoint(small){
                    margin: 0 auto 20px;
                    padding: 10px 15px;
                }
                .skew{
                    font-size: 24px;
                    text-align: left;
                    @include breakpoint(small){
                        font-size: 14px;
                        padding: 0;
                    }
                }
            }
            .rb-txt{
                font-size: 14px;
                letter-spacing: 0.2em;
                margin-right: 3%;
                @include breakpoint(small){
                    margin: 0 auto;
                    display: flex;
                    justify-content:space-between;
                    width: 100%;
                }
                .name{
                    font-size: 30px;
                    letter-spacing: 0.2em;
                    @include breakpoint(small){
                        font-size: 16px;
                        text-align: right;
                    }
                }
            }
        }
    }

    .interview-video{
        .clm-copy{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
        .clm-img{
            margin-bottom: 30px;
            @include breakpoint(small){
                margin-bottom: 20px;
            }
        }
    }
}