
.corporate{
    .tbl-1{
        margin-bottom: 100px;
        .slogan{
            font-family: $font-eng;
            font-size: 36px;
            letter-spacing: 0.05em;
            line-height: 2;
            font-weight: normal;
        }
    }
}