#hr-top{
    .head-txt{
        margin-bottom: 100px;
    }
    .sc-inr{
        padding-bottom: 50px;
    }  
}

#mt-talk{
    padding-top: 0;
}

#academy{
    .mediabox{
        padding-top: 90px;
    }
   .mediabox-copy{
       padding-top: 100px;
       overflow: inherit;
       .txt-t-img{
           position: absolute;
           top: -250px;
       }
   }
}


#training{
    .schedule{
        .month{
            font-size: 40px;
            font-family: $font-dec;
            letter-spacing: 0.05em;
            span{
                font-size: 14px;
                margin-left: 1.5em;
            }
        }
        .training-ttl{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 50px;
            .skew-box{
                margin: 0 50px 0 0;
                .skew{
                    font-weight: 800;
                }
            }
        }
        .cut-bg-l{
            width: 100%;
            margin: 0 0 0 auto;
            padding: 55px 0;
        }
        .training-item{
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            margin-bottom: 50px;
            &:last-child{
                margin-bottom: 0;
            }
            .skew-box{
                margin-right: 2em;
            }
            .txt-box{
                max-width: 400px;
                width: 30%;
                margin-right: 4%;
            }
            .training-img{
                display: flex;
                width: 40%;
                &.mr30{
                    justify-content: flex-end;
                }
                img{
                    margin-right: 30px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            &.flex-box{
                display: flex;
                .txt-box{
                    width: auto;
                }
            }
        }
    }
}