.ourbusiness{
    .skew{
        padding: 0;
    }
 .list-ind{
     & > li{
         margin-bottom: 20px;
         padding-left: 1em;
         &:first-child{
             &::before{
                 content: "①";
             }
         }
         &:nth-child(2){
            &::before{
                content: "②";
            }
        }
         &:nth-child(3){
            &::before{
                content: "③";
            }
        }
     }
 
    }
 .portforio{
     .clm-3{
         li{
                .default-img{
                 margin-bottom: 25px;
             }
         }
     }
 }
}

#realestate{
    .portforio{
        .clm-3{
            li{
                &:first-child{
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio1-1.png);
                        background-size: cover;
                       }
                   }
                &:nth-child(2){
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio1-2.png);
                        background-size: cover;
                       }
                   }
                &:nth-child(3){
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio1-3.png);
                        background-size: cover;
                       }
                   }
                &:nth-child(4){
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio1-4.png);
                        background-size: cover;
                       }
                   }
                &:nth-child(5){
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio1-5.png);
                        background-size: cover;
                       }
                   }
                &:nth-child(6){
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio1-6.png);
                        background-size: cover;
                       }
                   }
                   .default-img{
                    margin-bottom: 25px;
                }
            }
        }
    }
}

#hotel{
    .portforio{
        .clm-3{
            li{
                &:first-child{
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio2-1.png);
                        background-size: cover;
                       }
                   }
                &:nth-child(2){
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio2-2.png);
                        background-size: cover;
                       }
                   }
                &:nth-child(3){
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio2-3.png);
                        background-size: cover;
                       }
                   }
                &:nth-child(4){
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio2-4.png);
                        background-size: cover;
                       }
                   }
                &:nth-child(5){
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio2-5.png);
                        background-size: cover;
                       }
                   }
                &:nth-child(6){
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio2-6.png);
                        background-size: cover;
                       }
                   }
            }
        }
    }
    .cut-bg-back{
        width: 60%;
    }
}

#investment{
    .portforio{
        .clm-3{
            li{
                &:first-child{
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio3-1.png);
                        background-size: cover;
                       }
                   }
                &:nth-child(2){
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio3-2.png);
                        background-size: cover;
                       }
                   }
                &:nth-child(3){
                    .ratio-1by1{
                        background-image: url(/assets/img/ourbusiness/portforio3-3.png);
                        background-size: cover;
                       }
                   }
            }
        }
    }
}