#twg{
    .interview-video{
        .skew-box{
            padding: 10px 15px;
            top: -10px;
            left: -15px;
            .skew{
                padding: 0;
                font-size: 18px;
                letter-spacing: 0.2em;
            }
        }
    }    
}