#recruit{
    .message-copy{
        max-width: 650px;
        margin: 0 auto;
    }
    .message{
        font-size: 18px;
        letter-spacing: 0.2em;
        line-height: lh(36);
        text-align: center;
    }
    .btn-3{
        height: 150px;
    }
}