%head-cmn {
  margin-bottom: 50px;
  font-weight: bold;
  position: relative;
  @include breakpoint(small){
    margin-bottom: 25px
  }
}
.head{
  &-1{
    @extend %head-cmn;
    font-size: rem(30);
    line-height: 1.75;
    text-align: center;
    letter-spacing: 0.2em;
    @include breakpoint(small){
      font-size: 18px;
      margin-bottom: 35px;
    }
  }
  &-2{
    @extend %head-cmn;
    font-size: 30px;
    letter-spacing: 0.05em;
    text-align: center;
    font-family: $font-dec;
    padding-bottom: 40px;
    @include breakpoint(small){
      padding-bottom: 20px;
    }
    &::after{
      content: "";
      width: 70px;
      height: 1px;
      background-color: #000;
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &-3{
    @extend %head-cmn;
    padding:10px 0 10px 15px;
    font-size: rem(20);
    font-weight: 800;
    margin-bottom: 20px;
    background-color: $clr-main;
    color: #fff;
    letter-spacing: 0.2em;
  }
  &-4{
    @extend %head-cmn;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: $clr-text;
    font-size: rem(20);
    font-weight: 800;
    letter-spacing: 0.2em;
    border-bottom: 1px solid $clr-gray;
  }
  &-5{
    @extend %head-cmn;
    color: $clr-text;
    font-size: rem(20);
    letter-spacing: 0.2em;
    text-align: center;
    position: relative;
    padding: 0 3em;
    display: inline-block;
    margin: 0 auto 65px;
    left: 50%;
    transform: translateX(-50%);
    &::before{
      content: "";
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: #000;
      top: 0;
      left: 0;
      transform: skew(-7deg);
    }
    &::after{
      content: "";
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: #000;
      top: 0;
      right: 0;
      transform: skew(-7deg);
    }
  }
}
