%mediabox-cmn {
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  position: relative;
  &:last-child{
    margin-bottom: 0;
  }
}
.mediabox{
  @extend %mediabox-cmn;
  align-items: flex-end;
  justify-content: space-between;
  &-r{
    flex-direction: row-reverse;
  }
  &-img{
    width: 55%;
    line-height: 0;
    position: relative;
    z-index: 3;
    img{
      width: 100%;
      height: 550px;
      object-fit: cover;
    }
    span{
      margin-top: 10px;
      display: block;
      font-size: rem(14);
      line-height: lh(14);
      text-align: center;
    }
  }
  .mediabox-copy{
    width: calc(45% + 60px + 5%);
    position: absolute;
    bottom: -50px;
    padding-top: 65px;
    padding-bottom: 50px;
    &.copy-l{
      padding-right: calc(60px + 10% );
      padding-left: 5%;
      left: 0;
    }
    &.copy-r{
      padding-right: 5%;
      padding-left: calc(60px + 10% );
      right: 0;
      }
  }


  &-2{
    @extend %mediabox-cmn;
    align-items: flex-end;
    padding-bottom: 120px;
    .mediabox-img{
      width: 60%;
      img{
        position: relative;
        z-index: 2;
      }
    }
    .cut-bg-r, .cut-bg-l{
      height: 500px;
      position: absolute;
      width: 110%;
    }
    .cut-bg-r{
      bottom: -120px;
      left: 0;
    }
    .cut-bg-l{
      bottom: -60px;
      right: 0;
    }
    .mediabox-copy{
      width: 38%;
      background-color: $clr-main;
      color: #fff;
      padding: 60px 4%;
      position: relative;
      z-index: 5;
      &.copy-r{
        left: -4%;
        bottom: -60px;
        .num{
          right: 30px;
        }
      }
      &.copy-l{
        right: -4%;
        bottom: -120px;
        .num{
          left: 30px;
        }
      }
      .num{
        font-size: 14px;
        font-family: $font-eng;
        position: absolute;
        top: -45px;
        color: #000;
        line-height: 1.17;
        letter-spacing: 0.05em;
        padding-left: 15px;
        span{
          font-family: $font-dec;
        font-size: 50px;
        }
        &::before{
          content: "";
          position: absolute;
          background-color: #000;
          height: 60px;
          width: 2px;
          transform: skew(-7deg);
          left: 0;
          top: 0;
        }
      }
    }
  }
}


// SP
@include breakpoint(small){
  %mediabox-cmn {
    display: block;
  }
  .mediabox{
    &-img{
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px!important;
      span{
        font-size: rem(12);
        line-height: lh(12);
      }
    }
    &-copy{
      width: 100%;
    }
  }

}

