// gothic
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 100;
	src:url(fonts/NotoSansCJKjp/NotoSansCJKjp-ExtraLight.woff) format("woff"),
			url(fonts/NotoSansCJKjp/NotoSansCJKjp-ExtraLight.otf) format("opentype");
}
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 200;
	src:url(fonts/NotoSansCJKjp/NotoSansCJKjp-Light.woff) format("woff"),
			url(fonts/NotoSansCJKjp/NotoSansCJKjp-Light.otf) format("opentype");
}
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 400;
	src:url(fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.woff) format("woff"),
			url(fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.otf) format("opentype");
}
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 500;
	src:url(fonts/NotoSansCJKjp/NotoSansCJKjp-Medium.woff) format("woff"),
			url(fonts/NotoSansCJKjp/NotoSansCJKjp-Medium.otf) format("opentype");
}
// @font-face {
// 	font-family: "Noto Sans Japanese";
// 	font-style: normal;
// 	font-weight: 600;
// 	src:url(fonts/NotoSansCJKjp/NotoSansCJKjp-SemiBold.woff) format("woff"),
// 			url(fonts/NotoSansCJKjp/NotoSansCJKjp-SemiBold.otf) format("opentype");
// }
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 700;
	src:url(fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.woff) format("woff"),
			url(fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.otf) format("opentype");
}
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 900;
	src:url(fonts/NotoSansCJKjp/NotoSansCJKjp-Black.woff) format("woff"),
			url(fonts/NotoSansCJKjp/NotoSansCJKjp-Black.otf) format("opentype");
}

// mincho
@font-face {
	font-family: "Noto Serif Japanese";
	font-style: normal;
	font-weight: 100;
	src:url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-ExtraLight.woff) format("woff"),
			url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-ExtraLight.otf) format("opentype");
}
@font-face {
	font-family: "Noto Serif Japanese";
	font-style: normal;
	font-weight: 200;
	src:url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-Light.woff) format("woff"),
			url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-Light.otf) format("opentype");
}
@font-face {
	font-family: "Noto Serif Japanese";
	font-style: normal;
	font-weight: 400;
	src:url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-Regular.woff) format("woff"),
			url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-Regular.otf) format("opentype");
}
@font-face {
	font-family: "Noto Serif Japanese";
	font-style: normal;
	font-weight: 500;
	src:url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-Medium.woff) format("woff"),
			url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-Medium.otf) format("opentype");
}
@font-face {
	font-family: "Noto Serif Japanese";
	font-style: normal;
	font-weight: 600;
	src:url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-SemiBold.woff) format("woff"),
			url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-SemiBold.otf) format("opentype");
}
@font-face {
	font-family: "Noto Serif Japanese";
	font-style: normal;
	font-weight: 700;
	src:url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-Bold.woff) format("woff"),
			url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-Bold.otf) format("opentype");
}
@font-face {
	font-family: "Noto Serif Japanese";
	font-style: normal;
	font-weight: 900;
	src:url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-Black.woff) format("woff"),
			url(fonts/NotoSerifCJKjp/NotoSerifCJKjp-Black.otf) format("opentype");
}


// google font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Marcellus&display=swap');

// フォント
$font-default:'游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif; 

$font-mincho: 'Noto Serif Japanese', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;

$font-eng: 'Marcellus','Lato', serif;

$font-dec:'Cinzel','Lato', serif;

//icomoon
@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?4jb4u4');
	src:  url('fonts/icomoon.eot?4jb4u4#iefix') format('embedded-opentype'),
	  url('fonts/icomoon.ttf?4jb4u4') format('truetype'),
	  url('fonts/icomoon.woff?4jb4u4') format('woff'),
	  url('fonts/icomoon.svg?4jb4u4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-video{
	  position: relative;
  }
  .icon-video:before {
	  //obj-center
	text-align: center;
	position: absolute;
	z-index: 2;
	top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	content: "\e900";
	color: #fff;
	font-size: 70px;
  }  
