// 左右カラム
$win-pd: 20px;
// カラムpadding
$clm-pd: 1.5%;
// 上下カラム
$line-pd: 30px;

// ウィンドウサイズ
$sc-inr: 1250px + ($win-pd *2);
$sc-inr-s: 840px + ($win-pd *2);
$sc-inr-w: 1440px + ($win-pd *2);

// ヘッダーメニュー
$header-h: 70px;
$hambmenu-h: 50px;


$img-scale: 1.1;

