
// ttl
.ttl_area{
  padding: 160px 0 100px;
  @include breakpoint(small){
    padding: 50px 0 40px;
  }
  .ttl_ja{
    max-width: 1250px;
    margin: 0 auto 35px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
    @include breakpoint(small){
      margin:0 auto 15px 5%;
    }
  }
  .ttl_en{
    font-family: $font-dec;
    font-size: 50px;
    overflow: hidden;
    white-space: nowrap;
    height: 68px;
    display: flex;
    align-items: center;
    margin-left: -6em;
    @include breakpoint(small){
      font-size: 20px;
      height: auto;
    }
    .stroke{
      font-family: $font-dec;
      color: transparent;
      -webkit-text-stroke: 1px $clr-text;
      margin: 0 10px;
    }
  }
}


.bkwh{
    background-color: #fff;
    margin-top: 100px;
}

section.pickup{
  padding-bottom: 50px;
  @include breakpoint(small){
    padding-bottom: 0;
  }
  .cut-bg-r{
    @include breakpoint(small){
      display: none;
    }
  }
  .ttl_area{
    padding-top: 0;
    @include breakpoint(small){
      padding-top: 50px;
    }
  }
  .business-wrap{
    padding: 0 10% 80px;
    margin-bottom: 10px;
    padding: 0 0 50px;
    .cut-bg-l-row{
      width: vw(715);
      bottom: 0;
      height: 80%;
      @include breakpoint(small){
        display: none;
      }
    }
    .skew-ttl{
      margin-bottom: 0;
      z-index: 5;
    }
    .business-list{
      max-width: vw(1060);
      margin: -25px auto 0;
      @include breakpoint(small){
        margin: 10px auto 0;
        max-width: 100%;
      }
      li{
        height: 280px;
        @include breakpoint(small){
          height: 145px;
          margin-bottom: 5px;
        }
        a{
          display: flex;
          position: relative;
          @include breakpoint(small){
            flex-direction: row-reverse;
          }
          &:hover{
            .business-pic{
              overflow: hidden;
              img{
                transform: scale(1.1);
                @include transition;
              }
            }
            .skew-box{
              &::before{
                background-color: #fff;
              }
              .skew{
                color: $clr-main;
                @include transition;
              }
            }
          }
        }
        .business-pic{
          img{
            width: vw(750);
            height: 280px;
            object-fit: cover;
            @include breakpoint(small){
              height: 145px;
              width: vwSp(240);
            }
          }
        }
        .txtarea{
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          @include breakpoint(small){
            right: inherit;
            left: 20px;
            align-items: flex-start;
          }
          .dec{
            text-align: right;
          }
          .skew-box{
            margin-right: 40px;
            .skew{
              padding: 40px 0;
              @include breakpoint(small){
                padding: 10px 0;
              }
            }
          }
          .arr-next{
            opacity: 1;
            text-align: right;
            margin-right: 40px;
          }
        }
      }
    }
  }

  .pickup-wrap{
    .skew-ttl{
      margin: 0 auto 70px 10%;
    }
    .cut-bg{
      padding: 0 0 100px;
      @include breakpoint(small){
        padding-bottom: 0;
      }
      
      .cut-bg-r{
        width: vw(860);
      height: 90%;
      bottom: 0;
      }
    }
  }
  .project-list{
    position: relative;
  }
    .txtarea{
      .dec{
        font-family: $font-dec;
        font-size: 14px;
        margin-bottom: 20px;
        @include breakpoint(small){
          font-size: 12px;
          font-weight: bold;
          margin-bottom: 0;
        }
      }
      .skew-box{
        margin-left: 80px;
        width: 300px;
        padding: 0;
        margin-bottom: 0;
        @include breakpoint(small){
          margin-left: 0;
          width: 175px;
        }
        .skew{
          @include breakpoint(small){
            font-size: 14px;
            width: 100%;
            white-space: nowrap;
            padding: 15px 0;
          }
        }
      }
      .arr-next{
        margin-left: 80px;
        opacity: 0;
        transition: 0.3s;
        @include breakpoint(small){
          margin-left: 0;
        }
      }
    }
    .project_bg{
      width: 100%;
      height: 150px;
      overflow: hidden;
      position: relative;
      text-align: right;
      transition: 0.3s;
      @include breakpoint(small){
        margin-bottom: 5px;
      }
      .project_pic{
        width: 70%;
      margin: 0 0 0 auto;
      img{
        width: 100%;
        object-fit: cover;
        height: 600px;
      }
      @include breakpoint(small){
        width: 65%;
        margin: 0 auto 0 0;
        height: 145px;
        img{
          width: 100%;
        height: 145px;
        object-fit: cover;
        }
      }
      &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        transition: 0.3s;
        @include breakpoint(small){
          display: none;
        }
      }
      &::after{
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        width: 40px;
        height: 40px;
        transform: translateY(-50%);
        opacity: 1;
        background-image: url(../img/cmn/plus.svg);
        @include transition;
      }
      }
      .txtarea{
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        text-align: left;
        color: $clr-text;
        margin-left: 10%;
        @include breakpoint(small){
          left: inherit;
          right: 5%;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
        }
        .arr-next{
          @include breakpoint(small){
            opacity: 1;
            order: 2;
          }
        }
      }
    }
    .project_item:hover{
      .txtarea{
        .skew-box{
          margin-bottom: 20px;
          &::before{
            background-color: #fff;
            @include breakpoint(small){
              background-color: $clr-main;
            }
          }
          @include breakpoint(small){
            margin-bottom: 0;
          }
          .skew{
            padding: 40px 0;
            transition: 0.3s;
            color: $clr-main;
            @include breakpoint(small){
              padding: 15px 0;
              color: #fff;
            }
          }
        }
        .arr-next{
          opacity: 1;
        }
      }
      .project_bg{
        height: 600px;
        @include breakpoint(small){
          height: 145px;
        }
        .project_pic{
          height: 600px;
          object-fit: cover;
          @include breakpoint(small){
            height: 145px;
          }
          &::before{
            background-color: rgba(0, 0, 0, 0);
          }
          &::after{
            opacity: 0;
          }
        }
    }
  }
  }
  
  section.person{
    position: relative;
    margin-bottom: 100px;
    .ttl_area{
      padding-bottom: 70px;
    }
    .swiper-container{
      max-width: 1320px;
      overflow: hidden;
      margin: 0 auto;
      position: relative;
      .swiper-wrapper{
        padding: 0 60px;
        @include breakpoint(small){
          padding: 0;
        }
      }
      .clm-box{
        max-width: 300px;
        padding: 0;
        @include breakpoint(small){
          margin: 0 auto;
        }
      }
      .swiper-button-prev, .swiper-button-next{
        color: #000;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 1px solid #000;
          outline: none;
          top:40%;
          @include breakpoint(small){
            width: 30px;
            height: 30px;
          }
          &::after{
            font-size: 20px;
            @include breakpoint(small){
            font-size: 12px;
            }
          }
      }
      .swiper-button-prev{
        left: 0;
        @include breakpoint(small){
          left: 10px;
        }
      }
      .swiper-button-next{
        right: 0;
        @include breakpoint(small){
          right: 10px;
        }
      }
    }
    .swiper-slide{
      position: relative;
      margin: 0!important;
      .swiper-item{
        position: relative;
        margin: 0 20%;
        &::before{
          position: absolute;
          top: 55px;
          left: 0;
          font-family: $font-dec;
          font-size: 50px;
          font-weight: bold;
          z-index: 3;
          @include breakpoint(small){
            font-size: 40px;
          }
        }
        &._01{
          &::before{
            content: "01";
          }
        }
        &._02{
          &::before{
            content: "02";
          }
        }
        &._03{
          &::before{
            content: "03";
          }
        }
      }
      .interview_pic{
        position: relative;
        margin: 0 auto;
        img{
          width: 100%;
        }
        .name_en{
          position: absolute;
          right: 0;
          bottom: -45px;
          writing-mode: vertical-rl;
          font-size: 16px;
          font-family: $font-eng;
          @include breakpoint(small){
            font-size: 14px;
          }
        }
      }
      .name_box{
        .name{
          font-size: 24px;
          margin: 15px auto 40px;
          letter-spacing: 0.2em;
          @include breakpoint(small){
            font-size: 18px;
            margin: 15px auto 20px;
          }
        }
        .job{
          font-size: 26px;
          font-weight: bold;
          padding-bottom: 10px;
          border-bottom: 1px solid $clr-text;
          display: inline-block;
          margin-bottom: 30px;
          letter-spacing: 0.2em;
          @include breakpoint(small){
            font-size: 20px;
            margin-bottom: 15px;
          }
        }
        .job_info{
          font-size: 18px;
          letter-spacing: 0.1em;
          font-size: 14px;
        }
      }
      }    
  }
  
  section.cross_talk{
    .ttl_area{
      padding: 100px 0 100px;
      @include breakpoint(small){
        padding: 50px 0 20px;
      }
    }
    a{
      .talk-group{
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        justify-content: center;
        padding: 0 0 50px;
        @include breakpoint(small){
          margin-bottom: 55px;
          display: flex;
          flex-direction: column;
          padding-bottom: 20px;
        }
        .cut-bg-l{
          width: vw(1270);
          bottom: 0;
          height: 85%;
        }
        .talk_pic_box{
          margin-left: 0;
          z-index: 3;
          display: flex;
          @include breakpoint(small){
            width: 90%;
          }
          .talk_pic{
            margin-left: -25px;
            @include breakpoint(small){
              margin-left: 0;
            }
          }
        }
        .btn_area{
          @include breakpoint(small){
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: flex-end;
          }
          .arr-next{
            text-align: right;
          }
        }
        .skew-box{
          margin-left: 15px;
          margin-bottom: 15px;
          width: 300px;
          padding: 40px 0;
          @include breakpoint(small){
            width: 175px;
            margin-left: 10%;
            z-index: 5;
            padding: 15px 0;
          }
          .skew_w{
            @include breakpoint(small){
              font-size: 14px;
              padding: 15px 0;
              width: 175px;
            }
          }
        }
        .arr-next{
          justify-content: flex-end;
          @include breakpoint(small){
            margin-right: 5%;
            margin-bottom: 20px;
          }
        }
      }
    }
    
  
  }

  // 2clm
  .talk-box-wrap{
    padding: 0;
    .cut-bg-r{
      width: vw(995);
      height: 75%;
      bottom: 0;
      padding: 0;
      @include breakpoint(small){
        display: none;
      }
    }
  }
  .talk_box{
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 960px;
    margin: auto;
    @include breakpoint(small){
      flex-direction: column;
    }
    .talk_item{
      @include breakpoint(small){
        position: relative;
        background-color: $clr-gray;
        width: calc(100% - 20px);
        margin: 80px auto 60px 0;
        &::before {
          position: absolute;
          content: '';
          right: 0px;
          top: 0px;
          border: none;
          border-right: solid 50px#fff;
          border-top: solid 310px transparent;
        }
      }
      .box_cnt{
        max-width: vw(430);
        margin: 0 auto;
        height: 100%;
display: flex;
flex-direction: column;
        @include breakpoint(small){
          position: relative;
          width: calc(100% - 40px);
          max-width: 100%;
          margin: -80px auto 0;
        }
      }
      .ttl_ja{
        font-size: 14px;
        margin-bottom: 35px;
        letter-spacing: 0.2em;
      }
      .skew-box{
        width: auto;
        display: inline-block;
        padding: 0;
        margin: 0 auto;
        position: absolute;
        top: 35px;
        z-index: 5;
        .skew{
          font-size: 16px;
          width: auto;
          white-space: nowrap;
          padding: 0.5em 1em;
        }
      }
      .talk_img{
        margin: 0 0 20px 10px;
        width: calc(100% - 10px);
        overflow: hidden;
        box-shadow: 0 0px 10px rgba(0,0,0,0.2);
        @include breakpoint(small){
          z-index: 3;
          text-align: center;
          width: vwSp(300);
          margin: 0 auto;
        }
        img{
          width: 100%;
        }
      }
      .arr-next{
        justify-content: flex-end;
        text-align: right;
        @include breakpoint(small){
          top: 25px;
          text-align: right;
          right: 20px;
        }
      }
      .h-link{
        &:hover{
          .shadow{
            box-shadow: 0 0px 10px rgba(0,0,0,0.5);
            @include transition;
          }
        }
      }
    }
  } 
  a{
    &:hover{
      .skew-box{
        &::before{
          background-color: #fff;
          @include transition;
        }
        .skew-w{
          color: $clr-main;
          @include transition;
        }
      }
      .talk_pic{
        img{
          @include transition;
          transform: scale(1.03);
        }
      }
    }
  }
  
  section.hr{
    .talk-box-wrap{
      padding-top: 20px;
      .cut-bg-r{
        @include breakpoint(small){
          display: block;
        }
      }
      .talk_item{
        @include breakpoint(small){
          background-color: inherit;
        }
      }
    }
    .cut-bg-l-row{
      width: vw(995);
  height: 75%;
  bottom: 0;
  padding: 0;
    }
    .skew-box{
      top: -20px!important;
    }
  }
  
  section.numbers{
    @include breakpoint(small){
      padding-bottom: 60px;
    }
    .num_cnt{
      position: relative;
      text-align: center;
      padding: 0 13%;
      @include breakpoint(small){
        padding: 0 5%;
      }
      img{
          &:hover{
          opacity: 0.8;
          @include transition;
        }
        }
      img.is-pc{
        max-width: 1100px;
        margin: 0 auto;
        width: 100%;
      }
      .is-pc{
        @include breakpoint(small){
          display: none;
        }
      }
      .is-sp{
        display: none;
        @include breakpoint(small){
          display: block;
        }
      }
      .arr-next{
        justify-content: flex-end;
        max-width: 1100px;
        margin: 0 auto;
        text-align: right;
        @include breakpoint(small){
          margin-top: 10px;
        }
      }
      .bg_wrap{
        position: absolute;
        right: 0;
        bottom: -60px;
        width: 76%;
        z-index: -1;
      .num_bg{
        background-color: $clr-gray;
      position: relative;
      height: 310px;
      width: 100%;
      &::before {
        position: absolute;
        content: '';
        left: 0px;
        top: 0px;
        border: none;
        border-left: solid 70px#fff;
        border-bottom: solid 310px transparent;
      }
      }
    }
  }
  }
  
  
  .link_area{
    background-image: url(../img/top/link_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 440px;
  width: 100%;
  position: relative;
  margin: 120px auto;
  @include breakpoint(small){
    height: auto;
    margin-bottom: 110px;
    padding: 58px 0;
  }
  .clm-2{
    max-width: 840px;
    position: absolute;
    bottom: -110px;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint(small){
      position: relative;
    }
    li{
      position: relative;
      margin-bottom: 0;
      &:last-child{
        .btn-3{
          margin-bottom: 0;
        }
      }
      .btn-3{
        background-color: #fff;
        border: none;
        color: $clr-text;
        box-shadow: 0 0px 20px rgba(0,0,0,0.2);
        @include breakpoint(small){
          height: 110px;
          max-width: 280px;
          margin: 0 auto 35px;
        }
        .btn-txt{
          font-size: 20px;
          letter-spacing: 0.2em;
          @include breakpoint(small){
            font-size: 16px;
          }
        }
        &:hover{
          background-color:#fff;
          box-shadow: 0 0px 10px rgba(0,0,0,0.5);
          .btn-txt{
            color: $clr-text;
          }
          .arr-next{
            color: $clr-text;
            &::after{
              background-image: url(../img/cmn/arr_next.svg);
            }
          }
        }
      }
      .skew-box{
        position: absolute;
        top: -15px;
        left: -15px;
        padding: 0;
        .skew{
          font-size: 16px;
          padding: 10px 1em;
        }
      }
    }
  }
  }