  .hamb-btn{
    width: $header-h;
    height: $header-h;
    background: $clr-text;
    cursor: pointer;
    display: block;
    z-index: 310;
    .btn-inr{
      height: 100%;
      padding: 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .btn-bar{
      width: 100%;
      height: 1px;
      margin: auto;
      background: #fff;
      border-radius: 5px;
      display: block;
      position: relative;
      @include transition;
      &:before,
      &:after{
        @extend .btn-bar;
        content: '';
        background: #fff!important;
        position: absolute;
      }
      &:before{
        bottom: 10px;
        @include animation(menu-bar-1 .75s forwards);
      }
      &:after{
        top: 10px;
        @include animation(menu-bar-2 .75s forwards);
      }
    }
  }

  .hamb-menu{
    width: 100%;
    height: 100%;
    padding: $hambmenu-h $win-pd 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 305;
    overflow: hidden;
    background-color: $clr-text;
    color: #fff;
    @include transition;
    transform: translate(0,-100%);
    .hum_wrap{
      margin: 0 auto;
      padding: 150px 0 110px;
      display: flex;
      .hum_logo{
        max-width: 135px;
        margin-bottom: 55px;
      }
      .hum_contents{
        font-family: $font-eng;
        font-size: 24px;
        color: $clr-text;
        letter-spacing: 0.05em;
        .contents_item{
        margin-bottom: 15px;
        font-weight: normal;
        } 
      }
      .hum_box{
        width: 20%;
        a{
          color: #fff;;
        }
        &._links{
          width: 80%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          height: 70vh;
          .hum_link{
            width: calc(100% / 3);
            margin-bottom: 50px;
          }
          .hum_ttl{
            font-size: 24px;
            font-family: $font-eng;
            letter-spacing: 0.05em;
            margin-bottom: 20px;
            font-weight: normal;
          }
          .hum_links{
            .link{
              font-size: 14px;
              letter-spacing: 0.05em;
              margin-bottom: 15px;
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  .g-active{
    .hamb-menu{
      pointer-events: all;
      transform: translate(0,0);
    }
    .hamb-btn{
      .btn-bar{
        background: transparent;
        &:before{
          bottom: 11px;
          @include animation(active-menu-bar-1 .75s forwards);
        }
        &:after{
          @include animation(active-menu-bar-2 .75s forwards);
        }
      }
    }
  }

  

  @include breakpoint(small){
    .header{
      .header-main{
        .entry{
          height: $hambmenu-h;
          width: auto;
          padding: 0 2em;
          font-weight: normal;
        }
      }
    }
    .hamb-btn{
      height: $hambmenu-h;
      width: $hambmenu-h;
      .btn-inr{
        padding: 10px;
      }
      .btn-bar{
        &:before{
          bottom: 8px;
        }
        &:after{
          top: 8px;
        }
      }
    }
  }