.sc-kv{
  width: 100%;
  position: relative;
  margin-top: -$header-h;
  @include breakpoint(small){
  margin-top: -$hambmenu-h;
  }
  .first_kv{
    .first-bg {
    background-image: url("../img/top/kv_slide01.jpg");
    }
    // overflow: hidden; 
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .kv_top{
      z-index: 15;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .copy{
      font-size: 40px;
      font-family: $font-dec;
      color: $clr-main;
      text-align: center;
      bottom: 10vh;
      position: absolute;
      width: 100%;
      letter-spacing: 0.05em;
      line-height: 1.5;
      @include breakpoint(small){
        font-size: 22px;
      }
      span{
        font-size: 20px;
        letter-spacing: 0.2em;
        font-family: $font-default;
        color: $clr-text;
        @include breakpoint(small){
          font-size: 14px;
        }
      }
    }
    .side{
      font-size: 14px;
      font-family: $font-dec;
      color: #000;
      writing-mode: vertical-rl;
      position: absolute;
      right: 30px;
      bottom: 30px;
      @include breakpoint(small){
        right: 10px;
        bottom: 10px;
      }
      .red{
        margin-top: 10px;
        color: $clr-main;
      }
    }
    .scroll{
      position: absolute;
      bottom: 30px;
      left: 30px;
      writing-mode: vertical-rl;
      @include breakpoint(small){
        bottom: 20px;
        left: 10px;
      }
    }
    .arr-next{
      &::after{
        margin-right: 5px;
margin-top: 20px;
margin-left: 0;
transform: rotate(90deg);

      }
    }
  }
  .kv-scroll{
    width: 100%;
    height: 100%;
    position: absolute;
    // overflow: hidden;
    #scroll_logo{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: 10;
      opacity: 1;
      img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
  
  }
  #copy-box{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    // height: 100vh;
    // overflow: hidden; 
    .copy_sp{
      @include breakpoint(small){
        position: absolute;
        top: 20vh;
        left: 10%;
        z-index: 8;
        img{
          width: 100%;
        }
      }
      &.disp-sp{
        left: 16%;
      }
    }
    #kv_copy{
      letter-spacing: 0.1em;
      line-height: 1.8;
      opacity: 0;
      width: 100%;
      padding: 300px 15% 0;
      margin: 0 auto;
      font-size: 18px;
      color: #fff;
      z-index: 100;
      text-align: center;
      // display: flex;
      // align-items: flex-start;
      // justify-content: center;
      @include breakpoint(small){
      padding: 200px 20px 100px 30px;
      font-size: 14px;
      text-align: left;
      width: 80%;
      margin: 0 auto;
      }
    }
    .kv_en{
      font-family: $font-dec;
      font-size: 50px;
      writing-mode: vertical-rl;
      position: absolute;
      z-index: 8;
      top: -150px;
      left: 5%;
      color: #fff;
      @include breakpoint(small){
        font-size: 25px;
        top: 0;
        left: 20px;
      }
      .stroke{
        color: transparent;
      -webkit-text-stroke: 1px #fff;
      }
    }
  }
}
  .overlay{
      width: 100%;
      height: calc(100% + 30px);
      background-color: rgba(0,0,0,0.6);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }
    .kv-slide{
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
#slider-2 .swiper-slide{
  top: 0;
left: 0;
width: 100%;
position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;  //全画面表示
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.kv-back{
  height: 100vh;
}



@include breakpoint(small){
  .sc-kv{
    .kv-img{
      img{
        width: 90%;
      }
    }
    .kv-head{
      font-size: rem(18);
    }
    .kv-caption{
      margin-top: 10px;
      font-size: rem(12);
    }
    .kv-box{
      width: 60%;
      padding: 25px $win-pd;
    }
  }

}

.scroll-copy{
  padding-top: 40vh;
  position: relative;
top: 70px;
  section {
    display: flex;
  }
  .one {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px 0;
  }
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.5s ease 0s;
    z-index: -1;
  }
  .show .bg {
    opacity: 1;
  }
  .bg._01 {
    background-image: url("../img/top/kv_slide01.jpg");
  }
  .bg._02 {
    background-image: url("../img/top/kv_slide02.jpg");
  }
  .bg._03 {
    background-image: url("../img/top/kv_slide03.jpg");
  }
  .bg._04 {
    background-image: url("../img/top/kv_slide04.jpg");
  }

  .onebox {
    margin: 0 auto;
    padding: 20px;
    text-align:center;
  }
  .onebox img {
    width: 100%;
    height: auto;
    vertical-align: top;
    margin-bottom: 15px;
  }
  .onebox p {
    letter-spacing: 0.1em;
      line-height: 1.8;
      margin: 0 auto;
      font-size: 18px;
      color: #fff;
      text-align: center;
      position: relative;
      z-index: 10;
  }
  
  /*==================
  base
  ==================*/
  
  html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    line-height: 1.8;
    margin: 0;
    word-break: break-word;
  }
  p._a {
    font-size: 12px;
    font-weight: bold;
    margin: 30px 0 0;
  }
  p._a .link {
    display: inline-block;
    color: #607D8B;
    padding-left: 1.3em;
    text-indent: -1.3em;
  }
  p._a .link:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-top: 2px solid #607D8B;
    border-right: 2px solid #607D8B;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right: 10px;
  }
}


//中面
.sc-kv{
  &.-page{
    .kv-img{
      img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        @include breakpoint(small){
          height: 100px;
        }
      }
    }
    .kv-ttl{
      position: absolute;
      left: 50%;
      bottom: -40px;
      transform: translateX(-50%);
      @include breakpoint(small){
        bottom: -20px;
      }
      .kv-head-en{
        color: #fff;
        font-size: 14px;
        margin-bottom: 15px;
        text-align: center;
        font-family: $font-dec;
        letter-spacing: 0.05em;
        @include breakpoint(small){
          font-size: 14px;
          margin-bottom: 5px;
        }
      }
      .kv-box{
        padding: 20px 40px;
        width: auto;
        margin-bottom: 0;
        @include breakpoint(small){
          // padding: 0 10px;
          left: 50%;
          transform: translateX(-50%);
        }
        &::before{
          background-color: #fff;
          border: none;
        }
        .skew{
          font-size: 26px;
          color: #000;
          width: auto;
          @include breakpoint(small){
            font-size: 14px;
          }
        }
      }
    }
  }

  &.-page2{
    .kv-img{
      overflow: hidden;
      img{
        width: 100%;
        height: 550px;
        object-fit: cover;
        @include breakpoint(small){
          height: 200px;
        }
      }
    }
    .kv-ttl{
      position: relative;
      top: -50px;
      width: 100%;
      margin-left: 3%;
      @include breakpoint(small){
        top:-20px;
        margin-left: 20px;
        width: auto;
      }
      .skew-box{
        padding: 25px 3%;
        margin-bottom: 20px;
        @include breakpoint(small){
          padding: 15px;
          width: auto;
          margin-bottom: 10px;
        }
        .skew{
          font-size: 26px;
          font-weight: bold;
          @include breakpoint(small){
            font-size: 14px;
            padding: 0;
          }
        }
      }
      .kv-head-en{
        font-family: $font-dec;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.05em;
        @include breakpoint(small){
          font-size: 12px;
        }
      }
    }
  }
}
