.sc-kv{
  width: 100%;
  position: relative;
  margin-top: -$header-h;
  @include breakpoint(small){
  margin-top: 0px;
  }
  .first-kv{
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // .first-bg {
    //   background-image: url("../img/top/kv_slide01.jpg");
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-position: center center;
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   }
    .first-copy{
      z-index: 20;
      position: absolute;
      width: 100%;
      height: 100%;
      @include breakpoint(small){
        top: -50px;
      }
      .copy{
        font-size: 40px;
        font-family: $font-dec;
        color: $clr-main;
        text-align: center;
        bottom: 10vh;
        position: absolute;
        width: 100%;
        letter-spacing: 0.05em;
        line-height: 1.5;
        @include breakpoint(small){
          font-size: 22px;
          bottom: 20vh;
        }
        span{
          font-size: 20px;
          letter-spacing: 0.2em;
          font-family: $font-default;
          color: $clr-text;
          @include breakpoint(small){
            font-size: 14px;
          }
        }
      }
      .scroll{
        position: absolute;
        bottom: 30px;
        left: 30px;
        writing-mode: vertical-rl;
        @include breakpoint(small){
          bottom: 120px;
          left: 10px;
        }
      }
      .arr-next{
        &::after{
          margin-right: 5px;
  margin-top: 20px;
  margin-left: 0;
  transform: rotate(90deg);
  
        }
      }
    }
    .kv-logo{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 15;
      @include breakpoint(small){
        height: calc(100vh + 50px);
        top: -50px;
      }
      #scroll_logo{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        // opacity: 1;
        // img{
        //   width: 100%;
        //   height: 100vh;
        //   object-fit: cover;
        // }
      }
    }
  }

 
.scroll-copy{
  position: relative;
  top: 70px;
  @include breakpoint(small){
      padding: 20vh 0 30px;
    }
.kv-en{
  font-family: $font-dec;
  font-size: 50px;
  writing-mode: vertical-rl;
  z-index: 10;
  top: -150px;
  left: 5%;
  color: #fff;
  position: fixed;
  @include breakpoint(small){
    font-size: 25px;
    top: 0;
    left: 20px;
  }
  .stroke{
    color: transparent;
  -webkit-text-stroke: 1px #fff;
  }
}
.body-copy{
  position: relative;
  z-index: 5;
  padding: 40vh 0 90px;
  .copy-box {
    display: flex;
    .one {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px 0;
      @include breakpoint(small){
      padding: 10px 0;
      }
    }
  }
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.5s ease 0s;
    &._01{
    background-image: url("../img/top/kv_slide01.jpg");
    }
    &._02{
    background-image: url("../img/top/kv_slide02.jpg");
    }
    &._03{
    background-image: url("../img/top/kv_slide03.jpg");
    }
    &._04{
    background-image: url("../img/top/kv_slide04.jpg");
    }
  }
  .show .bg {
    opacity: 1;
  }
  .onebox {
    margin: 0 20%;
    padding: 20px;
    text-align:left;
    position: relative;
    z-index: 10;
    @include breakpoint(small){
      margin: 0;
    }
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
      margin-bottom: 15px;
    }
    p {
      letter-spacing: 0.1em;
        line-height: 2.5;
        margin: 0 auto;
        font-size: 18px;
        color: #fff;
        position: relative;
        z-index: 10;
        @include breakpoint(small){
          font-size: 14px;
          text-align: left;
                margin: 0 20px 0 50px;
          }
    }
  }
}//body-copy
 
.overlay{
  width: 100%;
  height: calc(100% + 30px);
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.first-bg{
      background-image: url("../img/top/kv_slide01.jpg");
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      }

}
}

@include breakpoint(small){
  .sc-kv{
    .kv-img{
      img{
        width: 90%;
      }
    }
    .kv-head{
      font-size: rem(18);
    }
    .kv-caption{
      margin-top: 10px;
      font-size: rem(12);
    }
    .kv-box{
      width: 60%;
      padding: 25px $win-pd;
    }
  }

}
//中面
.sc-kv{
  &.-page{
    .kv-img{
      img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        @include breakpoint(small){
          height: 100px;
        }
      }
    }
    .kv-ttl{
      position: absolute;
      left: 50%;
      bottom: -40px;
      transform: translateX(-50%);
      @include breakpoint(small){
        bottom: -20px;
      }
      .kv-head-en{
        color: #fff;
        font-size: 14px;
        margin-bottom: 15px;
        text-align: center;
        font-family: $font-dec;
        letter-spacing: 0.05em;
        @include breakpoint(small){
          font-size: 14px;
          margin-bottom: 5px;
        }
      }
      .kv-box{
        padding: 20px 40px;
        width: auto;
        margin-bottom: 0;
        @include breakpoint(small){
          // padding: 0 10px;
          left: 50%;
          transform: translateX(-50%);
        }
        &::before{
          background-color: #fff;
          border: none;
        }
        .skew{
          font-size: 26px;
          color: #000;
          width: auto;
          @include breakpoint(small){
            font-size: 14px;
          }
        }
      }
    }
  }

  &.-page2{
    .kv-img{
      overflow: hidden;
      img{
        width: 100%;
        height: 550px;
        object-fit: cover;
        @include breakpoint(small){
          height: 200px;
        }
      }
    }
    .kv-ttl{
      position: relative;
      top: -50px;
      width: 100%;
      margin-left: 3%;
      @include breakpoint(small){
        top:-20px;
        margin-left: 20px;
        width: auto;
      }
      .skew-box{
        padding: 25px 3%;
        margin-bottom: 20px;
        @include breakpoint(small){
          padding: 15px;
          width: auto;
          margin-bottom: 10px;
        }
        .skew{
          font-size: 26px;
          font-weight: bold;
          @include breakpoint(small){
            font-size: 14px;
            padding: 0;
          }
        }
      }
      .kv-head-en{
        font-family: $font-dec;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.05em;
        @include breakpoint(small){
          font-size: 12px;
        }
      }
    }
  }
}
