// アス比
*[class*="ratio-"] {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  &::before {
    width: 100%;
    content: '';
    display: block;
    position: relative;
  }
}

// 比率一覧
.ratio {
  // 16:9
  &-16by9{
    &:before{
      padding-top: (9/16)*100%;
    }
  }
  // 4:3
  &-4by3{
    &:before{
      padding-top: (3/4)*100%;
    }
  }
  // 3:2
  &-3by2{
    &:before{
      padding-top: (2/3)*100%;
    }
  }
  // 1:1
  &-1by1{
    &:before{
      padding-top: (1/1)*100%;
    }
  }
  // 黄金比
  &-golden{
    &:before{
      padding-top: (1/1.618)*100%;
    }
  }
  //CEO
  &-ceo{
    background-image: url(../img/ceo/president.png);
    background-size: cover;
    &:before{
      padding-top: (550/1240)*100%;
    }
  }
}