.header {
  width: 100%;
  height: $header-h;
  padding-left:$win-pd;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 301;
  .header-logo {
    width: 130px;
    line-height: 0;
    position: relative;
    z-index: 303;
    a {
      display: block;
      img {
        height: 100%;
      }
    }
  }
  .header-main {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .entry{
      font-size: 14px;
      font-family: $font-eng;
      width: 130px;
      text-align: center;
      background-color: $clr-main;
      height: $header-h;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        color: #fff;
      }
    }
  }
}

.soon{
  color: #fff!important;
}
.soon-f{
  color: #333!important;
}



// SP
@include breakpoint(small){
  .header {
    height: $hambmenu-h;
  }
}
